:root{
    --cor-fundo:#1d1d1b;
}
*{
    box-sizing: border-box;
    
}

header,nav,footer{
    background-color:var(--cor-fundo);
   
}
.offcanvas-body{
    background-color:var(--cor-fundo);
}
.redondo{
    border-radius:50px ;
}
footer{
    color:white;
   
}
figure{
    margin:0;
    padding: 0;
    border: 0;
}
#imgrodape{
    width: 35%;
    height: 35%;
}
