<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}"> 
    <title>Teste API</title>
</head>

<body>
    <div class="container justify-content-center shadow p-3 mb-5 bg-light" style="margin-top: 6.6%;">
        <h2 class="text-center mb-4" >Classificador de instituições se é ou não Instituto Federal de Goiás </h2>
        <br>
    
        <div class="justify-content-center">
            <h4 class=>Faça o upload de um arquivo CSV </h4>
            <p class=><strong>O arquivo deverá conter <span class="text-danger">apenas uma coluna</span> contendo as instituições para serem classificadas se é ou não Insituto Federal de Goiás.</strong></p>
            <div class="mb-3"></div>
            <form class="form-group" method="POST" action="/request_csv" enctype="multipart/form-data">
                <input class="form-control mb-4" type="file" name="file">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
        </div>
    <br><br>
    
        <div class="justify-content-center">
            <h4>Digite abaixo uma instituição para ser classificada. </h4>
          
            <form class="form-group" method="POST" action="/request_input">
                
                <input class="form-control mb-3" type="text" name="affiliation" placeholder="Digite aqui a instituição">
                <input class="btn btn-primary justify-content-center" type="submit" value="Enviar">
            </form>
        </div>
    
    </div>
</body>

</html>